<div class="container">
    <h1>My Playlists</h1>
    <form action="/my-playlist" method="get">
        <label for="userId">Enter Spotify User ID:</label>
        <input type="text" id="userId" name="userId" value="{{userId}}">
        <button type="submit">Get Playlists</button>
    </form>
    <ul>

            {{#each playlists}}
                {{#if this.name.length}}
                    <li>
                        <img src="{{this.images.[0].url}}" alt="{{this.name}}" width="100">
                        <div>
                            <h2>{{this.name}}</h2>
                            <p>{{this.description}}</p>
                        </div>
                        <a href="/export-pdf/{{this.id}}">Export PDF</a>
                    </li>
                {{/if}}
            {{/each}}
    </ul>
</div>